:root {
    --white-text: #fff;
    --black-text: #000;
    --text-color: #333;
    --text-sidebar: #DADADA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

span {
    overflow: hidden;
    text-overflow: clip;
    word-wrap: none;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin: 8px 12px;
}

.btn {
    border: none;
    color: var(--white-text);
    cursor: pointer;
    outline: none;
}

.round {
    overflow: hidden;
    border-radius: 999px !important;
}

.song-title {
    display: flex;
    flex-direction: column;
}

.song-name {
    font-size: 1.4rem;
    font-weight: 700;
}

.song-performer {
    font-size: 1.2rem;
    color: hsla(0, 0%, 100%, 0.5);
}

.content-title,
.song-title {
    overflow: hidden;
}


/* Scroll */


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: none;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}