/* Main */

#main {
    display: flex;
}

#main.playing .icon-pause {
    display: inline-block !important;
}

#main.playing .btn-content-pause {
    display: flex !important;
}

#main.playing .icon-play,
#main.playing .btn-content-play {
    display: none !important;
}

#main.playing .content-disc {
    border-radius: 999px !important;
    transition: border-radius linear 3s !important;
    -webkit-animation: spin 10000ms linear infinite;
    animation: spin 10000ms linear infinite;
}

#main.pausing .content-disc {
    -webkit-animation: spin-off .5s;
    animation: spin-off .5s;
}


/* Sidebar */

#sidebar {
    position: fixed;
    background-color: #231b2e;
    min-width: 240px;
    height: 100vh;
}

#sidebar .home {
    height: 70px;
}

#sidebar .btn-home {
    display: inline-block;
    margin-left: 28px;
    margin-top: 16px;
    line-height: 100%;
    text-decoration: none;
}

#sidebar .btn-home-img {
    height: 48px;
    width: 48px;
}

#sidebar .sidebar-main-list,
#sidebar .sidebar-type-list,
#sidebar .sidebar-library-list {
    list-style: none;
    padding: 0;
}

#sidebar .sidebar-main-list {
    height: 190px;
}

#sidebar .sidebar-main-list {
    margin-top: 0px;
    margin-bottom: 15px;
}

#sidebar .sidebar-main::after {
    content: "";
    display: block;
    border-top: 2px solid #352e3f;
}

#sidebar .sidebar-item {
    padding: 8px 28px;
    position: relative;
}

#sidebar .sidebar-link-item {
    display: block;
    text-decoration: none;
    color: var(--text-sidebar);
    font-size: 1.4rem;
    font-weight: 700;
}

#sidebar .sidebar-link-item:hover {
    color: var(--white-text);
}

#sidebar .btn-add-playlist-sidebar span,
#sidebar .sidebar-link-item span {
    display: inline-block;
    position: absolute;
}

#sidebar i[class*="ri-"] {
    display: inline-block;
    width: 32px;
    font-size: 2.4rem;
    font-weight: 100;
}

#sidebar .sidebar-type {
    margin-top: 16px;
    position: relative;
    overflow: hidden scroll;
    width: 100%;
    height: 192px;
}

#sidebar .sidebar-library-list h2 {
    color: var(--white-text);
    padding: 8px 28px;
}

#sidebar .add-playlist-sidebar {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 52px;
    background-color: #231b2e;
    margin-bottom: 90px;
    border-top: 2px solid #352e3f;
    cursor: pointer;
}

#sidebar .add-playlist-sidebar:hover {
    opacity: 0.7;
}

#sidebar .btn-add-playlist-sidebar {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-text);
    margin-left: 28px;
}


/* Header */

#header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 240px;
    height: 70px;
    background-color: #170f23;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2rem;
    z-index: 999;
}

#header .level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#header .level .level-left {
    display: flex;
    margin-right: 5px;
    flex-grow: 1;
}

#header .level .level-right {
    display: flex;
    flex-grow: 0.1;
    justify-content: space-between;
}

#header .btn {
    height: 40px;
    width: 40px;
    padding: 4px 8px;
    border-radius: 20px;
}

#header .btn-back,
#header .btn-forward {
    opacity: 0.4;
    background-color: #170f23;
}

#header .btn-forward {
    margin-right: 16px;
}

#header .form-search {
    background-color: hsla(0, 0%, 100%, 0.1);
    position: relative;
    width: 100%;
    max-width: 540px;
    border-radius: 999px;
}

#header .search-container {
    border-radius: 999px;
    height: 40px;
    display: flex;
    align-items: center;
}

#header .search-input,
#header .btn-search {
    color: var(--white-text);
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#header .btn-search {
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
    height: 100%;
}

#header .search-input {
    width: 90%;
    outline: none;
    font-size: 1.5rem;
}

#header .level-right .btn {
    background-color: hsla(0, 0%, 100%, 0.1);
}

#header .level-right .btn-user {
    background-color: #cdd5e2;
    height: 38px;
    width: 38px;
}


/* Container */

#container {
    margin-left: 240px;
    margin-top: 70px;
    margin-bottom: 90px;
    padding: 50px 50px 0px;
    background-color: #170f23;
    width: 100%;
    color: var(--white-text);
}

#container .content {
    position: relative;
    width: 100%;
}

#container .content:after {
    content: "";
    display: block;
    clear: both;
}

#container .content-music {
    position: sticky;
    top: 110px;
    padding-bottom: 30px;
    min-width: 300px;
    float: left;
}

#container .content-music .content-disc {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: border-radius .25s ease-out .25s;
    overflow: hidden;
}

#container .content-music .content-disc img {
    height: 300px;
    width: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
}

#container .content-music-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 1.4;
    font-size: 1.2rem;
}

#container .content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

#container .content-title .song-name {
    font-size: 2rem;
}

#container .content-title .song-performer {
    font-size: 1.6rem;
    color: hsla(0, 0%, 100%, 0.5);
}

#container .content-music-action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
}

#container .content-music-action .btn {
    height: 36px;
    width: 36px;
    padding: 4px 8px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0.1);
}

#container .content-music-action .btn-content-toggle {
    width: 174px;
    background-color: #7200a1;
    border-radius: 20px;
    font-size: 1.4rem;
}

#container .content-music-action .btn-content-play,
#container .content-music-action .btn-content-pause {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .content-music-action .btn-content-play i,
#container .content-music-action .btn-content-pause i {
    font-size: 2rem;
    margin-right: 5px;
}

#container .content-music-action .btn-content-pause {
    display: none;
}

#container .content-music-action .btn-round {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
}

#container .content-list-song {
    margin-left: 330px;
    font-size: 1.2rem;
    flex-grow: 1;
}

#container .content-list-song .playlist-header {
    display: flex;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.5);
    height: 45px;
    padding: 10px;
}

#container .content-list-song .playlist-header-song {
    width: 60%;
    padding-left: 24px;
}

#container .content-list-song .playlist-header-time-song {
    width: 15%;
}

#container .content-list-song .playlist-header-option-song {
    display: flex;
    justify-content: center;
    width: 25%;
}

#container .playlist-header-option-song .playlist-sorter {
    border: 1px solid hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    width: 114px;
    padding: 1px 19px;
    cursor: pointer;
}

#container .playlist-header-option-song .playlist-sorter:hover {
    opacity: 0.9;
}

#container .content-list-song .content-playlist {
    display: flex;
    height: 70px;
    padding: 10px;
}

#container .content-list-song .content-playlist.active {
    background-color: rgba(87, 56, 133);
}

#container .content-list-song .content-playlist:hover {
    background-color: rgba(87, 56, 133, 0.8);
}

#container .content-list-song .content-playlist:active {
    background-color: rgba(87, 56, 133, 0.5);
}

#container .content-playlist .content-playlist-song {
    display: flex;
    align-items: center;
    width: 60%;
}

#container .content-playlist-song .song-prefix {
    height: 40px;
    width: 24px;
    padding: 10px;
    padding-left: 0;
}

#container .content-playlist-song .song-thumb {
    position: relative;
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

#container .content-playlist-song .song-image {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}

#container .content-playlist .content-playlist-time-song {
    width: 15%;
}

#container .content-playlist .content-playlist-option-song {
    width: 25%;
}

#container .content-playlist .content-playlist-option-song {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container .content-playlist-option-song .btn {
    background-color: rgba(255, 255, 255, 0);
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 1.6rem;
}


/* Controls */

#controls {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    color: var(--white-text);
    background-color: #120c1c;
    padding-left: 20px;
    padding-right: 20px;
}

#controls .controls-left {
    display: flex;
    align-items: center;
    width: 30%;
}

#controls .controls-disc {
    border: 2px solid #fff;
    margin-right: 10px;
    height: 64px;
    min-width: 64px;
}

#controls .controls-disc img {
    height: 60px;
    width: 60px;
}

#controls .song-title {
    flex-grow: 1;
}

#controls .controls-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 40vw;
}

#controls .controls-center .controls-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#controls .btn {
    background-color: rgba(255, 255, 255, 0);
    width: 36px;
    height: 36px;
    padding: 4px;
    font-size: 1.8rem;
    margin: 0 7px;
}

#controls .btn-shuffle.active,
#controls .btn-repeat.active {
    color: #7200a1;
}

#controls .controls-center .btn-skip-back,
#controls .controls-center .btn-skip-forward {
    font-size: 2.4rem;
}

#controls .controls-center .btn-toggle-play {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 52px;
    width: 52px;
    font-weight: 100;
}

#controls .controls-center .btn-toggle-play:hover {
    color: #7200a1;
}

#controls .icon-pause {
    display: none;
}

#controls .controls-time-song {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

#controls .controls-time-song .time-left {
    margin-right: 10px;
    color: hsla(0, 0%, 100%, 0.5);
}

#progress {
    height: 3px;
    width: 75%;
    background: rgb(255, 255, 255, 0.5);
    border-radius: 999px;
    -webkit-appearance: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
}

#controls .controls-time-song .time-right {
    margin-left: 10px;
}

#controls .controls-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 30%;
}

#controls .divide {
    width: 33px;
    height: 33px;
}

#controls .divide span {
    display: block;
    width: 1px;
    height: 100%;
    margin: auto;
    background: hsla(0, 0%, 100%, 0.1);
}

#controls .btn-playlist {
    background-color: hsla(0, 0%, 100%, 0.1);
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin-off {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin-off {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}


/* Common */

.mt-4 {
    margin-top: 4px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-48 {
    margin-top: 48px !important;
}


/* Login Register */

.login-register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #0bd7db, #fa01ff);
}

.login-register-container {
    height: 560px;
    min-height: 200px;
    width: 400px;
    max-width: calc(100% - 32px);
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.login-register-container .heading {
    display: flex;
    height: 48px;
    font-size: 1.2rem;
}

.login-register-container .heading div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    color: #abb4b5;
    background: #d2d8d8;
}

.login-register-container .heading div.active {
    color: #000;
    background: #fff;
}

.login-register-container .heading div:not(.active):hover {
    opacity: 0.7;
    cursor: pointer;
}

.login-container,
.register-container {
    display: none;
    align-items: center;
    padding: 16px 52px;
    font-size: 1.6rem;
    height: 90%;
    /* transition: all 5s; */
}

.login-register-container .login-container.active,
.login-register-container .register-container.active {
    display: block;
    width: 100%;
}

.form-content-input {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    position: relative;
}

.form-content-input .icon {
    display: inline-block;
    width: 20px;
}

.form-input {
    padding: 8px;
    flex-grow: 1;
    border: none;
    outline: none;
}

.form-content-input .form-label {
    position: absolute;
    top: 30%;
    left: 32px;
    opacity: 0.3;
    font-size: 2rem;
    transition: .5s;
}

.form-content-input .form-input:focus~.form-label,
.form-content-input .form-input:valid+.form-label {
    top: -14px;
    left: 0;
    font-size: 1.6rem;
    opacity: 1;
}

.form-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #fff;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    z-index: 111;
}

.form-group.btn {
    position: relative;
    height: 44px;
    overflow: hidden;
    border-radius: 999px !important;
}

.form-group.btn .inner {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: 1;
    transition: all .4s;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
}

.form-group.btn:hover .inner {
    left: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center hr {
    flex-grow: 1;
}

.icon-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 64px;
    font-size: 4rem;
    width: 100%;
    padding: 0 64px;
}

.icon:hover,
.forgot-password:hover {
    cursor: pointer;
    opacity: 0.7;
}

.forgot-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password {
    display: inline-block;
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: #000;
}

.test-container {
    height: 100px;
    width: 100px;
    background: #fc00ff;
}